{
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "production": {
      "comments": false,
      "plugins": [
        "@babel/plugin-transform-runtime",
        ["@babel/plugin-proposal-decorators", {
          "legacy": true
        }],
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "forceAllTransforms": true
          }
        ]
      ]
    }
  }
}
